{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "sheets:v4",
  "name": "sheets",
  "version": "v4",
  "title": "Google Sheets API",
  "description": "Reads and writes Google Sheets.",
  "rootUrl": "https://sheets.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://sheets.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/sheets/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        }
      }
    }
  },
  "resources": {
    "spreadsheets": {
      "methods": {
        "get": {
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "response": {
            "$ref": "Spreadsheet"
          },
          "path": "v4/spreadsheets/{spreadsheetId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "parameters": {
            "ranges": {
              "repeated": true,
              "description": "The ranges to retrieve from the spreadsheet.",
              "location": "query",
              "type": "string"
            },
            "includeGridData": {
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
              "location": "query",
              "type": "boolean"
            },
            "spreadsheetId": {
              "required": true,
              "description": "The spreadsheet to request.",
              "location": "path",
              "type": "string"
            },
            "excludeTablesInBandedRanges": {
              "type": "boolean",
              "location": "query",
              "description": "True if tables should be excluded in the banded ranges. False if not set."
            },
            "commentsViewMode": {
              "enumDescriptions": [
                "The CommentsViewMode is unspecified; COMMENTS_VIEW_MODE_OMITTED is applied.",
                "The CommentsViewMode applied to the returned spreadsheet depends on the user's current access level. If the user only has view access, COMMENTS_VIEW_MODE_OMITTED is applied. Otherwise, COMMENTS_VIEW_MODE_INCLUDED is applied.",
                "The returned spreadsheet has comments omitted.",
                "The returned spreadsheet has comments included. Requests to retrieve a spreadsheet using this mode will return a 403 error if the user does not have permission to view comments."
              ],
              "type": "string",
              "location": "query",
              "description": "The comments view mode to apply to the spreadsheet. This allows viewing the spreadsheet with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. [Developer Preview](https://developers.google.com/workspace/preview).",
              "enum": [
                "COMMENTS_VIEW_MODE_UNSPECIFIED",
                "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
                "COMMENTS_VIEW_MODE_OMITTED",
                "COMMENTS_VIEW_MODE_INCLUDED"
              ]
            }
          },
          "parameterOrder": [
            "spreadsheetId"
          ],
          "id": "sheets.spreadsheets.get",
          "httpMethod": "GET",
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/workspace/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges."
        },
        "batchUpdate": {
          "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
          "httpMethod": "POST",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "id": "sheets.spreadsheets.batchUpdate",
          "parameters": {
            "spreadsheetId": {
              "location": "path",
              "required": true,
              "description": "The spreadsheet to apply the updates to.",
              "type": "string"
            }
          },
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          }
        }
      },
      "resources": {
        "values": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "response": {
                "$ref": "ValueRange"
              },
              "parameters": {
                "majorDimension": {
                  "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "type": "string",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "location": "query"
                },
                "dateTimeRenderOption": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "type": "string"
                },
                "range": {
                  "description": "The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "valueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
                  "location": "query",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/workspace/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "type": "string"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "id": "sheets.spreadsheets.values.get",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Spreadsheet": {
      "description": "Resource that represents a spreadsheet.",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the spreadsheet. This field is read-only.",
          "type": "string"
        },
        "spreadsheetUrl": {
          "description": "The url of the spreadsheet. This field is read-only.",
          "type": "string"
        },
        "properties": {
          "description": "Overall properties of a spreadsheet.",
          "$ref": "SpreadsheetProperties"
        }
      },
      "id": "Spreadsheet",
      "type": "object"
    },
    "SpreadsheetProperties": {
      "id": "SpreadsheetProperties",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the spreadsheet."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the spreadsheet, in CLDR format such as `America/New_York`. If the time zone isn't recognized, this may be a custom time zone such as `GMT-07:00`."
        },
        "locale": {
          "type": "string",
          "description": "The locale of the spreadsheet in one of the following formats: * an ISO 639-1 language code such as `en` * an ISO 639-2 language code such as `fil`, if no 639-1 code exists * a combination of the ISO language code and country code, such as `en_US` Note: when updating this field, not all locales/languages are supported."
        }
      },
      "description": "Properties of a spreadsheet.",
      "type": "object"
    },
    "ValueRange": {
      "description": "Data within a range of the spreadsheet.",
      "id": "ValueRange",
      "properties": {
        "range": {
          "type": "string",
          "description": "The range the values cover, in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). For output, this range indicates the entire requested range, even though the values will exclude trailing rows and columns. When appending values, this field represents the range to search for a table, after which values will be appended."
        },
        "majorDimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "description": "The major dimension of the values. For output, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` will return `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` will return `[[1,3],[2,4]]`. For input, with `range=A1:B2,majorDimension=ROWS` then `[[1,2],[3,4]]` will set `A1=1,B1=2,A2=3,B2=4`. With `range=A1:B2,majorDimension=COLUMNS` then `[[1,2],[3,4]]` will set `A1=1,B1=3,A2=2,B2=4`. When writing, if this field is not set, it defaults to ROWS.",
          "type": "string"
        },
        "values": {
          "description": "The data that was read or to be written. This is an array of arrays, the outer array representing all the data and each inner array representing a major dimension. Each item in the inner array corresponds with one cell. For output, empty trailing rows and columns will not be included. For input, supported value types are: bool, string, and double. Null values will be skipped. To set a cell to an empty value, set the string value to an empty string.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          }
        }
      },
      "type": "object"
    },
    "BatchUpdateSpreadsheetRequest": {
      "description": "The request for updating any aspect of a spreadsheet.",
      "type": "object",
      "properties": {
        "includeSpreadsheetInResponse": {
          "description": "Determines if the update response should include the spreadsheet resource.",
          "type": "boolean"
        },
        "responseRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'."
        }
      },
      "id": "BatchUpdateSpreadsheetRequest"
    },
    "BatchUpdateSpreadsheetResponse": {
      "description": "The reply for batch updating a spreadsheet.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "updatedSpreadsheet": {
          "description": "The spreadsheet after updates were applied. This is only set if BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response is `true`.",
          "$ref": "Spreadsheet"
        }
      },
      "id": "BatchUpdateSpreadsheetResponse"
    }
  }
}
